/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  font-family: 'Open Sans', sans-serif;
  color: #676362;
}


p {
  font-size: 1.1em;
  line-height: 1.6;
}

a:hover {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}


img {
  max-width: 100%;
}



header {
  padding-top: 3em;
}

header h2 {
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.1em;
}
header a.email {
  display: inline-block;
  color: rgba(22, 105, 125, 0.7);
  background: rgba(255, 255, 255, 0.7);
  margin-left: 14px;
  border-radius: 4px;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 10px 20px;
}



.jumbotron {
  min-height: 600px;
  background: #2bd2f9;
  overflow: hidden;
}
.jumbotron h1 {
  color: #fff;
  font-size: 3em;
  font-weight: 300;
  margin-top: 2em;
  margin-bottom: 0;
}
.jumbotron p {
  color: #16697d;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1.8;
  margin-top: 0.6em;
}
.jumbotron a.learn {
  display: inline-block;
  color: #fff;
  background: #16697d;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 18px 36px;
  margin-top: 2em;
}
.jumbotron a.learn span {
  display: block;
  float: right;
  font-family: monospace;
  margin-left: 14px;
  transition: all 300ms ease-in-out;
  -webkit-transform: translate3d(5px, -1px, 0) scale(1.3);
}
.jumbotron a.learn:hover {
  text-decoration: none;
}
.jumbotron a.learn:hover span {
  -webkit-transform: translate3d(8px, -1px, 0) scale(1.4);
}
.hero img {
  height:490px;
  position: absolute;
  left: 15%;
  top: 30px;
}



section.padded {
  padding: 5em 0;
}
section.light-bg {
  background: #f5f4f3;
}
section h2 {
  font-size: 1.8em;
  font-weight: 400;
  color: #676362;
  margin-bottom: 1.5em;
}



.benefits-wrap {
  margin: 4em 0;
}
.section-benefits h3 {
  color: #ef7c4b;
  font-size: 7em;
  line-height: 1;
  margin: 0 0 0.1em 0;
}
.section-benefits h3 span {
  font-size: 0.2em;
  margin-left: 6px;
}
.section-benefits h5 {
  color: #ef7c4b;
  font-size: 1.1em;
  margin: 0;
}
.section-benefits h4 {
  color: #2bd2f9;
  font-size: 1.2em;
  margin: 0;
}
.section-benefits p {
  font-size: 1.1em;
  line-height: 1.8;
}
.content-break {
  display: inline-block;
  background: #e2dddb;
  height: 3px;
  width: 160px;
}


.section-process .wrapper {
  margin: 3em 0 3em;
}
.section-process .top {
  text-align: center;
  height: 180px;
  background: #2bd2f9;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.section-process .top .number {
  position: relative;
  background: #fff;
  border-radius: 50%;
  color: #ef7c4b;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: 800;
  top: 40px;
}
.section-process .top .text {
  position: relative;
  top: 65px;
  font-size: 1.5em;
}
.section-process .bottom {
  text-align: center;
  height: 180px;
  background: #fff;
  color: inherit;
  padding: 2em 0 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.section-process .bottom ul {
  margin: 0;
  text-align: left;
}

.section-process .bottom li {
  margin-bottom: 1em;
}


.section-admin h3 {
  color: #ef7c4b;
}
.section-admin p {
  font-size: 1.1em;
  line-height: 1.6;
}


section.padded.section-faq {
  padding: 6em 0 8em;
}
.section-faq h2 {
  margin-bottom: 2.5em;
}
.section-faq p {
  font-size: 1.1em;
  line-height: 1.6;
}


section.padded.section-cta {
  padding: 8em 0;
}
.white-rounded-bg {
  position: relative;
  background: #fff;
  padding: 4em 4em;
  border-radius: 10px;
}
.table {
  display: table;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  padding: 0 2em;
}
.white-rounded-bg h3 {
  font-size: 1.1em;
  color: #2bd2f9;
}
.white-rounded-bg p {
  font-size: 1.5em;
}
.input-group {
  display: table;
  width: 100%;
}
.white-rounded-bg input[type="text"]{
  display: table-cell;
  border-collapse: separate;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  outline: 0;
  height: 60px;
  padding-left: 20px;
  line-height: normal;
  vertical-align: middle;
  border: none;
  border-radius: 8px;
  background: #e2dddb;
  transition: all 200ms linear;
}
.white-rounded-bg input[type="text"]:focus {
  background: #eeebe9;
}

.input-btn {
  display: table-cell;
  border-collapse: separate;
  font-size: 0px;
  letter-spacing: 0.14px;
  line-height: 0px;
  position: relative;
  right: 0px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 3px;
}
.input-btn button {
  position: absolute;
  font-size: 14px;
  font-weight: 800;
  color: #fff;
  background: #2bd2f9;
  letter-spacing: 0.05em;
  right: -100%;
  top: 0;
  height: 100%;
  z-index: 2;
  margin-left: -1px;
  margin-right: 5px;
  width: 120px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: all 200ms ease-in-out;
}
.input-btn button:hover {
  background: #209ebb;
}





footer {
  background: #16697d;
  color: #fff;
  margin: 0;
  padding: 5em 0;
}
footer h5 {
  letter-spacing: 0.05em;
}
footer h5.copyright {
  color: #a2c3cb;
}
footer h5.contact {
  color: #0b353f;
}
footer a {
  color: #73a5b1;
}
footer a:hover {
  color: #abc9d0;
}





@media (min-width:1080px) {

  #survey-container {
    min-height: 800px;
    overflow: hidden;
    height: 800px;
  }

  .survey-container {
    height: 800px;
  }

  .survey-mobile {
    display: none;
  }
}



@media only screen and (max-width : 1080px) {
  #index-banner .section {
    top: 10%;
  }
  .survey-desktop {
    display: none;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}


