/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  font-family: 'Open Sans', sans-serif;
}

a:hover {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

header {
  padding-top: 2em;
}

header h2 {
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.1em;
}
header a.email {
  display: inline-block;
  color: rgba(22, 105, 125, 0.7);
  background: rgba(255, 255, 255, 0.7);
  margin-left: 10px;
  border-radius: 4px;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 10px 20px;
}



.jumbotron {
  min-height: 600px;
  background: #2bd2f9;
  overflow: hidden;
}
.jumbotron h1 {
  color: #fff;
  font-size: 3em;
  font-weight: 300;
  margin-top: 2em;
  margin-bottom: 0;
}
.jumbotron p {
  color: #16697d;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1.8;
  margin-top: 0.6em;
}
.jumbotron a.learn {
  display: inline-block;
  color: #fff;
  background: #16697d;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 18px 36px;
  margin-top: 2em;
}
.jumbotron a.learn span {
  font-family: monospace;
  margin-left: 10px;
}
.jumbotron a.learn:hover {
  text-decoration: none;
}
.hero img {
  height: 500px;
  position: absolute;
  left: 10%;
  top: 30px;
}


@media (min-width:1080px) {

  #survey-container {
    min-height: 800px;
    overflow: hidden;
    height: 800px;
  }

  .survey-container {
    height: 800px;
  }

  .survey-mobile {
    display: none;
  }
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 1080px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .survey-desktop {
    display: none;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
